:root {
    --primary: #4180d1;
    --secondary: #4A7C59;
    --accent: #D4A373;
    --neutral: #F0F0F0;
    --dark-neutral :#2E3440;
    --background: #FFFFFF;

}

body{
    background-color: var(--background);
}

.navbar-brand img {
    height: 40px;
}

